@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

axisWhite line {
    stroke-opacity: 0.5;
}

.axisWhite path {
    stroke-opacity: 0.5;
}

.axisWhite text {
    fill: white;
}

.lineBlue {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.linePink {
    fill: none;
    stroke: magenta;
    stroke-width: 2px;
}

#xAxis .tick line {
    visibility: hidden;
}


.selected {
    fill: #B122B7 !important;
}

.swatch {
    fill-opacity: .30;
}

.wrapper, nav {
    background-color: #0F111E;
}

.white {
    background-color: #0F111E;
}

.gradient {
    background-color: linear-gradient(to bottom right, #2E84C6, #B122B7); !important;;
}

.label, .legendTitle {
    fill: white;
}